<div ng-controller="GameCtrl">
<svg width="976" height="820" style="float: left;">
	<rect width="100%" height="100%" fill="black"></rect>
	<image xlink:href="{{getImage(tile)}}" x="{{getTileX(tile)}}" y="{{getTileY(tile)}}" height="100px" width="100px" ng-repeat="tile in newGameState.map" ng-if="tile.x&&tile.y" ng-click="click(tile)" ng-mouseenter="hoverIn(tile)" ng-mouseleave="hoverOut(tile)" ng-right-click="rightClick(tile)"></image>

	<image xlink:href="{{getCharacterImage(character)}}" x="{{getTileX(character.location)}}" y="{{getTileY(character.location)}}" height="100px" width="100px" ng-repeat="character in newGameState.characters" ng-if="character._id!=currentCharacter._id" pointer-events="none"></image>

	<image xlink:href="{{getCharacterImage(currentCharacter)}}" x="{{getTileX(currentCharacter.location)}}" y="{{getTileY(currentCharacter.location)}}" height="100px" width="100px" ng-model="currentCharacter" pointer-events="none"></image>

	<image xlink:href="images/highlight.png" x="{{getTileX(tile)}}" y="{{getTileY(tile)}}" height="100px" width="100px" ng-repeat="tile in newGameState.map" ng-if="tile.x&&tile.y&&tile.highlighted" pointer-events="none"></image>
	
	<image xlink:href="images/selected.png" x="{{getTileX(tile)}}" y="{{getTileY(tile)}}" height="100px" width="100px" ng-repeat="tile in newGameState.map" ng-if="tile.selected&&tile.x&&tile.y" pointer-events="none"></image>
</svg>
<form  ng-submit="sendMove()">
<input type="submit">
</form>

<div style="float:left;">
	<div style="background-color:#ccc;">
		<h1 style="margin:0;padding:0;"><img src="{{currentCharacter.image}}">{{currentCharacter.name}}</h1>
	</div>
	<!-- stats -->
	<div style="display:inline-block;background-color:#ccc;vertical-align:top;" class="characterDetails">
		<div>Health: {{currentCharacter.currentHealth}}/{{currentCharacter.maxHealth}}</div>
		<div>Attack: {{currentCharacter.attack}}</div>
		<div>Defense: {{currentCharacter.defense}}</div>
		<div>Remaining Action Points: {{currentCharacter.movements}}</div>
	</div>
	<div style="display:inline-block" class="characterDetails" ng-if="selectedCharacter">
		<div>-&gt;</div>
		<div>-&gt;</div>
		<div>-&gt;</div>
	</div>
	<div style="display:inline-block;background-color:#aaa;" class="characterDetails" ng-if="selectedCharacter">
		<div>Health: {{selectedCharacter.currentHealth}}/{{selectedCharacter.maxHealth}}</div>
		<div>Attack: {{selectedCharacter.attack}}</div>
		<div>Defense: {{selectedCharacter.defense}}</div>
	</div>
	<div  style="background-color:#aaa;">
		<h1 style="padding:0;margin:0">{{selectedCharacter.name}}<img src="{{selectedCharacter.image}}"></h1>
	</div>
</div>

<ul>
<li ng-repeat="action in currentCharacter.actions track by $index" ng-click="setAction($index)">{{action.name}}</li>
</ul>
</div>