<div ng-controller="GameCtrl">
<svg width="1200" height="800">
	<image xlink:href="{{getImage(tile)}}" x="{{getTileX(tile)}}" y="{{getTileY(tile)}}" height="100px" width="100px" ng-repeat="tile in game.map" ng-click="click(tile)" ng-mouseenter="hoverIn(tile)" ng-mouseleave="hoverOut(tile)"></image>
	<image xlink:href="images/highlight.png" x="{{getTileX(character.location)}}" y="{{getTileY(character.location)}}" height="100px" width="100px" ng-repeat="character in game.characters" class="noMouse"></image>
</svg>
</div>